'<table border="1" class="table table-sm"  width="800px" id="investment_summary"><tr>  <thead><tr> <th colspan="2">ROI SUMMARY </th></thead>';
    "<td>Total Cashflow 'CF' for " + no_years + "</br> years (sum of yearly Cashflow)</td><td id='blurcss'> " + YearCashFlow_display + "</td></tr>";
    "<tr><td>Total %age of cashflow</br>  for " + no_years + " years (CF/DowP)</td><td id='blurcss'> " + PerCashFlow_display + "</td></tr>";
    "<tr><td>Projected Asset value</br>  after " + no_years + " years " + appraisal_text_display + " Appraisal</td><td id='blurcss'> " + proj_asset_value_display + "</td></tr>";
    "<tr><td>Sale Proceeds 'SP' </br> after expenses @ " + sale_proceeds_text_display + "</td><td id='blurcss'> " + sale_proceeds_display + "</td></tr>";
    "<tr><td>Balance Mortage 'BM' at</br>  the end of " + no_years + " years</td><td id='blurcss'> " + www_display + "</td></tr>";
    "<tr><td>Profit from the sale </br> (SP-BM)</td><td id='blurcss'> " + profit_sale_display + "</td></tr>";
    "<tr><td>Total ROI for " + no_years + " years </br> ((TI+Profit) - DowP)</td><td id='blurcss'> " + ROI_10_display + "</td></tr>";
    "<tr><td>Total %age of Profit</br> for " + no_years + " years (ROI/DowP)</td><td id='blurcss'> " + Per_profit_display + "</td></tr>";
    "<tr><td>Cash on Hand after </br> " + no_years + " years</td><td id='blurcss'> " + Cash_on_hand_display + "</td></tr>";
    "</table>";
    '<table border="1" class="table table-sm"  width="800px" id="investment_summary5"><tr>  <thead><tr> <th colspan="2">ROI SUMMARY </th></thead>';
    "<td>Total Cashflow 'CF' for " + no_years + " years (sum of yearly Cashflow)</td><td id='blurcss'> " + YearCashFlow_display + "</td></tr>";
    "<tr><td>Total %age of cashflow  for " + no_years + " years (CF/DowP)</td><td id='blurcss'> " + PerCashFlow_display + "</td></tr>";
    "<tr><td>Projected Asset value  after " + no_years + " years @" + asset_appraisal_value + "% Appraisal</td><td id='blurcss'> " + proj_asset_value_display + "</td></tr>";
    "<tr><td>Sale Proceeds 'SP'  after expenses @ " + sales_expense_value + " %</td><td id='blurcss'> " + sale_proceeds_display + "</td></tr>";
    "<tr><td>Balance Mortage 'BM' at  the end of " + no_years + " years</td><td id='blurcss'> " + www_display + "</td></tr>";
    "<tr><td>Profit from the sale  (SP-BM)</td><td id='blurcss'> " + profit_sale_display + "</td></tr>";
    "<tr><td>Total ROI for " + no_years + " years  ((TI+Profit) - DowP)</td><td id='blurcss'> <span id='ROI_10'>" + ROI_10_display + "</span></td></tr>";
    "<tr><td>Total %age of Profit for " + no_years + " years (ROI/DowP)</td><td id='blurcss'> " + Per_profit_display + "</td></tr>";
    "<tr><td>Cash on Hand after " + no_years + " years</td><td id='blurcss'> " + Cash_on_hand_display + "</td></tr>";
    "</table>";